$bg: #F4F4F4;
$font_color: #0E002C;
$pink: #FF00C7;
$purple: linear-gradient(90deg, $pink -6.87%, #50139E 108.97%);;
$blue_gradient:  linear-gradient(88.26deg, #13A5E3 0%, #1F7DD5 100%);
$lime: #1CCDAD;
$purple_: #50139E;
$red: #D3623F;