@import "vars";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bg;
}

.shops {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.shop {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 4px 44px -20px rgba(0, 0, 0, 0.25);
  width: 300px;
  max-width: 100%;

  &__preview {
    height: 180px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__preview img {
    width: 100%;
  }

  &__bottom {
    padding: 10px 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: .2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 12px;
    text-decoration: none;
    color: #999999;
  }

  &__icon {
    width: 45px;
    height: 45px;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }

  &__head {
    display: flex;
    gap: .8rem;
  }

  &__footer {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: none;
    background: #E7E7E7;
    cursor: pointer;

    &:hover {
      background: #dcdcdc;
    }

    img {
      width: 20px;
    }
  }
}