.drawing {
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 25px;
}

.slick-slide {
  width: 500px;
}

.slick-slider {
  height: 330px;
  margin-bottom: 3rem;
}

.slick-track, .slick-list {
  height: 100%;
}

.module-page .slick-slider {
  height: auto !important;
}

.modules {
  display: grid;
  row-gap: 1rem;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.modules.modules_one-col {
  grid-template-columns: 1fr;
}

.module {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 18px -17px rgba(0, 0, 0, 0.25);
  height: 120px;
}
.module__terms img {
  width: 23px;
}
.module__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5rem;
  text-decoration: none;
  width: fit-content;
  color: #0E002C;
}
.module__title:hover {
  color: #FF00C7;
}
.module__body {
  font-size: 14px;
  color: #7D7D7D;
  line-height: 139.4%;
  padding-right: 20px;
  max-height: 35px;
  overflow-y: hidden;
}
.module__right {
  flex-basis: calc(100% - 110px);
  display: flex;
  flex-direction: column;
}
.module__left {
  height: 100px;
  flex-basis: 100px;
}
.module__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.module__img {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.module-btn {
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(90deg, #FF00C7 -6.87%, #50139E 108.97%);
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
}
.module-btn img {
  width: 20px;
}
.module-btn.module-btn_buyed {
  background: #D2D2D2;
  color: #4D4D4D;
  font-weight: 500;
}
.module-btn.module-btn_buyed:hover {
  gap: 0.2rem;
}
.module-btn:hover .module-btn__text {
  width: 70px;
}
.module-btn__text {
  transition: 0.1s ease-in;
  width: 0;
  overflow-x: hidden;
}

.store-search {
  outline: none;
  border: none;
  padding: 10px 15px;
  color: #0E002C;
  font-size: 16px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0px 4px 16px -9px rgba(0, 0, 0, 0.25);
}

.module-page__title {
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat Alternates", sans-serif;
}
.module-page__title.module-page__title_min {
  font-size: 18px;
}
.module-page__term {
  color: #50139E;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.module-page__terms {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.module-page-details {
  display: flex;
  gap: 10px;
}
.module-page-details__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.module-page__img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.module-page__header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.module-page__panel {
  width: 350px;
}
.module-page__price {
  color: #FF00C7;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.module-page__btn {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
  border: none;
  padding: 15px;
  background: linear-gradient(90deg, #FF00C7 -6.87%, #50139E 108.97%);
  transition: 0.1s ease-in;
}
.module-page__btn.module-page__btn_buyed {
  background: linear-gradient(88.26deg, #13A5E3 0%, #1F7DD5 100%);
}
.module-page__btn:hover {
  opacity: 0.8;
}
.module-page__body {
  display: flex;
  gap: 50px;
}
.module-page__left {
  flex-basis: 700px;
}
.module-page__right {
  flex-basis: calc(100% - 750px);
  width: calc(100% - 750px);
}
.module-page__right .modules {
  margin-top: 1rem;
}
.module-page__description p {
  margin-top: 0.5rem;
  color: #555555;
  font-size: 16px;
}

/*# sourceMappingURL=store.css.map */
